<div class="container">

    <div class="header">
        <button class="btn btn-add" routerLink="/">Accueil</button>
        <h1>Polytech CapGemini <span class="header-subtitle">Réservations</span></h1>
        <button class="btn btn-add" (click)="openCreateForm()" *ngIf="!showForm">
            + Ajouter
        </button>
    </div>

    <app-reservation-form *ngIf="showForm" [reservation]="selectedReservation" (onSubmit)="handleSubmit($event)"
        (onCancel)="closeForm()"></app-reservation-form>

    <div class="table-wrapper" *ngIf="!showForm">
        <table class="boites-table">
            <thead>
                <tr>
                    <th>Boîte</th>
                    <th>Utilisateur</th>
                    <th>Quantité Réservée</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (res of reservations; track $index) {
                <tr class="boite-row">
                    <td class="boite-nom">{{ res.boite?.nom || 'Nom inconnu' }}</td>
                    <td>
                        {{ res.utilisateur?.prenom }} {{ res.utilisateur?.nom }}
                        @if (res.utilisateur?.username) {
                        <span>({{ res.utilisateur?.username }})</span>
                        }
                    </td>
                    <td class="boite-quantite">{{ res.reservation }}</td>
                    <td class="boite-actions">
                        <button class="btn-action btn-edit" (click)="openEditForm(res)">
                            <svg class="icon-edit" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z"
                                        stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    <path
                                        d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13"
                                        stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </button>
                        <button class="btn-action btn-delete"
                            (click)="deleteReservation(res.utilisateurId, res.boiteId)">
                            <svg class="icon-trash" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3 3L21 21M18 6L17.6 12M17.2498 17.2527L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6H4M16 6L15.4559 4.36754C15.1837 3.55086 14.4194 3 13.5585 3H10.4416C9.94243 3 9.47576 3.18519 9.11865 3.5M11.6133 6H20M14 14V17M10 10V17"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </button>
                    </td>
                </tr>
                } @empty {
                <tr>
                    <td colspan="4" class="no-data" style="text-align: center; padding: 20px;">
                        Aucune réservation trouvée.
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <div class="table-footer">
            <div class="pagination-controls">
                <button class="btn-page" disabled>‹</button>
                <button class="btn-page" disabled>›</button>
            </div>
        </div>
    </div>
</div>